@import url(./reset.css);
@import url(./utils.css);

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    /* background-color: var(--app-background-dark); */
    position: relative;
    background-color: var(--app-background-darkc);
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    width: 100%;
    height: 56px;
    /* background-color: rgb(255 255 255 / 0.05); */
}

header h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    text-transform: uppercase;
    color: rgb(255 255 255)
}

/* header .header-logo {
    display: block;
    max-width: 100%;
    height: 35px;
} */

nav ul li {
    line-height: 56px;
    list-style: none;
    cursor: default;
}

nav ul li a {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #ff561d;
}

nav ul li i {
    display: none;
    color: #fff;
    font-size: 17px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Landing Page                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-size: 100%;
}

.landing-page section {
    height: calc(100svh - 60px - 0px);
    display: grid;
    place-items: center;
    width: 100%;
}

.landing-page section h2 {
    font-size: 52px;
    font-weight: 900;
    color: #fff;
}

.landing-page section .button {
    padding-top: 12px;
}

.land-content {
    width: 50%;
}

.land-content h1 {
    text-align: center;
    font-size: 55px;
    margin: 0 0 15px 0;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
}

.land-content h2 {
    line-height: 65px;
}

.land-content h3 {
    font-size: 35px;
    color: #4F33FF;
    font-weight: 500px;
    line-height: 65px;
}

.land-content p {
    color: #fff;
    padding: 0 0;
    font-size: 18px;
    font-weight: 400;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
  
/* .video-background::before {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    content: '';
    background-color: rgb(0 0 0 / 75%);
    z-index: 0;
} */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Bounce Animation                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bounce {
    width: 100%;
    margin: 0 auto;
    display: block;
    -webkit-animation: bounce 2.5s ease-in-out infinite;
       -moz-animation: bounce 2.5s ease-in-out infinite;
            animation: bounce 2.5s ease-in-out infinite;
}
  
@-moz-keyframes bounce {
    0%, 50%, 100% { -moz-transform: translateY(0); }
    25% { -moz-transform: translateY(-15px); }
    75% { -moz-transform: translateY(-15px); }
}
  
@-webkit-keyframes bounce {
    0%, 50%, 100% { -webkit-transform: translateY(0); }
    25% { -webkit-transform: translateY(-15px); }
    75% { -webkit-transform: translateY(-15px); }
}
  
@keyframes bounce {
    0%, 50%, 100% {transform: translateY(0); }
    25% { transform: translateY(-15px); }
    75% { transform: translateY(-15px); }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  About me                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
article {
    width: 50%;
}

article h3 {
    color: #fff;
    font-size: 26px;
    margin-top: 20px;
}

article p {
    color: #747475;
    margin-top: 10px;
    font-size: 18px;
}

aside {
    width: 50%;
}

.profile-pic {
    height: 580px;
    width: 100%;
    background: #f1f4f6 url('../media/new-pic.png') center 25% / cover no-repeat;
}

article .button {
    margin-top: 40px;
}

.about {
    background: transparent;
}

.who {
    background-color: #18181B;
    padding: 20px;
    border-radius: 6px;
}

.who article h6 {
    color: #ff561d;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.skill + .skill{
    margin-top: 15px;
}

.skills {
    margin-top: 10px;
}

.skill-text h5 {
    color: #4F33FF;
    font-size: 15px;
}

.skill-bg {
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: #e7e4ff;
}


.progress {
    height: 8px;
    border-radius: 50px;
    background-color: #4F33FF;
}
.html-progress {
    width: 90%;
}

.css-progress {
    width: 80%;
}

.javascript-progress {
    width: 70%;
}

.graphics-progress {
    width: 60%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  My Services                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.my-services {
    background-color: #18181B;
}

.columns {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    background-color: #1D1D20;
    border-radius: 6px;
    padding: 20px;
    height: 300px;
    display: grid;
    place-items: center;
    text-align: left;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 0.03);
}

.columns h3 {
    font-size: 23px;
    color: #fff;
}
.columns p {
    color: #747475;
}

.columns i {
    font-size: 60px;
    color: #4F33FF;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Contact me                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.socials {
    padding: 65px 0 130px 0;
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.column {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    padding: 20px;
    width: 25%;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 0.03);
    background: #1D1D20;
}
.column h4 {
    color: #fff;
}

.column p {
    color: #747475;
}

.row + .row {
    margin-top: 20px;
}

.icon {
    font-size: 50px;
    color: #191824;
}

.column .icon i {
    color: #4F33FF;
}

.social-apps {
    height: 100%;
}
  
.social-apps ul li {
    margin-top: 10px;
    list-style: none;
}
  
.social-apps ul li a i {
    font-size: 25px;
    color: #747475;
    transition: all 0.25s ease-in-out;
}

.social-apps ul li a i:hover {
    color: #ff561d;
    transform: translateY(-2px);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: 100px;
    background: transparent;
}

footer p {
    color: #ADA8D3;
    line-height: 100px;
    font-size: 15px;
}

.line {
    background-color: #18181B;
    width: 100%;
    height: 3px;
    border-radius: 6px;
}

.list {
    height: 80%;
}

.list ul {
    gap: 10px;
}

.list ul li {
    line-height: 100px;
    list-style: none;
}

.list i {
    font-size: 25px;
    color: #fff;
}

.list ul li a i {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

.list ul li a i:hover{
    color: #ff561d;
}

/* .list ul li a i .fa-instagram:hover {
    color: #FA0173;
} */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Media Queries                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen and (max-width: 1650px) {
    .landing-page {
        background-image: url(../media/night-sky.png);
    }
}

@media (max-width: 930px) {
    .column {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        height: auto;
    }

    .section-heading h3 {
        font-size: 40px;
    }
}

@media (max-width: 910px) {
    .landing-page section h2 {
        font-size: 45px;
    }
    
    .who {
        display: inline;
        flex: 0 0 100%;
        max-width: 100%;
    }

    article, aside {
        width: 100%;
    }

    .profile-pic {
        margin-top: 30px;
    }
}

@media (max-width: 872px) {
    .column, .service-column {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        height: auto;
    }

    .section-heading h3 {
        font-size: 40px;
    }
}

@media (max-width: 558px) {
    .landing-page section h2 {
        font-size: 40px;
    }
    .column, .service-column {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }

    .section-heading h3 {
        font-size: 40px;
    }
}