@charset "utf-8";

:root {
    --app-background-dark: rgb(24, 23, 32);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    display: grid;
    place-items: center;
}

.row-one, .price-row, .team-row, .learn-more {
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}