@charset "utf-8";

:root {
    --app-background-dark: rgb(24, 23, 32);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    display: grid;
    place-items: center;
}

.row-one, .price-row, .team-row, .learn-more {
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.primary-icon-btn {
    display: block;
    width: 140px;
    padding: 14px 0;
    color: #fff;
    background-color: #0067ff;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.primary-icon-btn:hover {
    background-color: #0057d8;
    transform: translateY(-5px);
}